@page "/career"
@using PersonalPortfolioWebSite.Models
@using PersonalPortfolioWebSite.Components.CustomComponents

<PageTitle>Career</PageTitle>
<h3>Lebenslauf</h3>
@if (workExperiences != null && workExperiences.Count > 0)
{
    <div class="work-experience-list">
        @foreach (var workExperience in workExperiences)
        {
            <WorkExperience WorkExperienceModel="@workExperience" />
        }
    </div>
}
else
{
    <p>Keine Berufserfahrung verfügbar.</p>
}
@code {
    private List<WorkExperienceModel> workExperiences { get; set; } = new List<WorkExperienceModel>();


    protected override void OnInitialized()
    {
        workExperiences = new List<WorkExperienceModel>
{
new WorkExperienceModel
{
CompanyName = "ABBF Bausoft AG",
StartDate = new DateTime(2015, 1, 1),
EndDate = new DateTime(2025, 1, 31),
Description = "Entwicklung von Webanwendungen mit C# und Blazor.",
Technologies = new List<SkillModel>
{
new SkillModel { Name = "C#", Level = 8 },
new SkillModel { Name = "Blazor", Level = 7 }
}
},
new WorkExperienceModel
{
CompanyName = "ABBF Bausoft AG",
StartDate = new DateTime(2012, 3, 1),
EndDate = new DateTime(2014, 12, 31),
Description = "Support BauBit PRO 1st/2nd Level.",
Technologies = new List<SkillModel>
{
new SkillModel { Name = "SQL", Level = 7 }
}
}
};
    }
}
