@page "/"
@using Microsoft.AspNetCore.Components

<PageTitle>Home</PageTitle>

<h1>Stephan Menzi, Mein Portfolio</h1>

<section class="intro">
    <p>Willkommen auf meiner Webseite. Hier findest du Informationen über mich, meine Projekte und meine Skills.</p>
    <figure>
        <img src="images/stephan-menzi.jpg" alt="Stephan Menzi" />
        <figcaption>Hier wird einmal ein Photo von meiner sein.</figcaption> 
    </figure> 
    <p>Ich bin ein Softwareentwickler, der sich auf .NET Technologien spezialisiert hat. Ich habe Erfahrung in der Entwicklung von Windows Forms Anwendungen und SQL-Server.</p>   
</section>
