@page "/projects"
@using PersonalPortfolioWebSite.Models
@using PersonalPortfolioWebSite.Services
@using PersonalPortfolioWebSite.Components
@using PersonalPortfolioWebSite.Components.CustomComponents
@inject ProjectService projectService;

<h3>Projekte</h3>

@if (projects != null && projects.Count > 0)
{
    <div class="project-list">
        @foreach (var project in projects)
        {
            <Project project="@project" />
        }
    </div>
}
else
{
    <p>No projects available.</p>
}

@code {
    private List<ProjectModel> projects { get; set; }

    protected override void OnInitialized()
    {
        projects = projectService.GetProjects() ?? new List<ProjectModel>();
    }
}