@page "/skills"
@using PersonalPortfolioWebSite.Models
@using PersonalPortfolioWebSite.Components.CustomComponents
@using PersonalPortfolioWebSite.Services

<h3>Skills</h3>
<p>Hier sind meine Skills aufgelistet:</p>
<ul>
@foreach (var skill in SkillsList)
{
    <li>
        <Skill SkillModel="@skill" IsCollapsed="false" />
    </li>
}
</ul>
@code {
    private List<SkillModel> SkillsList { get; set; } = new List<SkillModel>()
    {
        new SkillModel { Name = "C#", Level = 9, Description = "Erfahren in der Entwicklung von C#-Anwendungen.",Category="Programming Language", YearsOfExperience = 5 },
        new SkillModel { Name = "SQL", Level = 9, Description = "Gute Kenntnisse in SQL-Datenbanken.", YearsOfExperience = 4 },
        new SkillModel { Name = "Blazor", Level = 4, Description = "Kenntnisse in der Entwicklung von Blazor-Anwendungen.", YearsOfExperience = 1 },
        new SkillModel { Name = "JavaScript", Level = 4, Description = "Grundkenntnisse in JavaScript.", YearsOfExperience = 3 },
        new SkillModel { Name = "Git", Level = 6, Description = "Kenntnisse in der Versionskontrolle mit Git.", Category="Version Control", YearsOfExperience = 7 }
    };
}
