@using PersonalPortfolioWebSite.Models

<article class="project-card">
    <h3>@project.Name</h3>
    <p>@project.Description</p>
    @if (project.Technologies != null && project.Technologies.Count > 0)
    {
        <ul>
            @foreach (var technology in project.Technologies)
            {
                <li>
                    <Skill SkillModel="@technology" />
                </li>
            }
        </ul>
    }
    else
    {
        <p>No technologies listed.</p>
    }
</article>  
    
@code {
    [Parameter]
    public ProjectModel project { get; set; } = new ProjectModel(){
        Name = "Default Project"
    };
}
