@using PersonalPortfolioWebSite.Models;

<div class="skill-card">
    <h3>@SkillModel.Name</h3>
    <p>@SkillModel.Description</p>
    <p>Level: @SkillModel.Level /10</p>
    <p>Experience: @SkillModel.YearsOfExperience</p>
</div>
@code {
    [Parameter]
    public SkillModel SkillModel { get; set; } = new SkillModel();
}
